<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>todo form</title>
</head>
<body>
    <form action="/todo.html" method='POST'>
        <label>
            <label for="value">todo</label>
            <input type="value" id="value" name="value">
            <input type="submit" value="Añadir todos">
        </label>
    </form>
    <form action="/todo.html">
        <label>
            <input type="submit" value="mostrar todos">
        </label>
    </form>
    <h1>Resultado: </h1>
    {% for i in range(0,value|length)  %}
        <div>
            <h4>{{value[i][1]}}</h4>
            <a href="/eliminar/{{value[i][0]}}">Eliminar todo</a>
        </div>
    {% endfor %}
</body>
</html>