<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <form action="/login" method="POST">
        <label>
            <label for="nombre">Nombre</label>
            <input type="text" id="nombre" name="nombre">
            <label for="contrasena">Contraseña</label>
            <input type="text" id="contrasena" name="contrasena">
            <input type="submit" value="Submit">
        </label>
    </form>
</body>
</html>